# === Python ===
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# === Virtual Environment ===
venv/
lib/
lib64/
include/
share/
pyvenv.cfg

# === VS Code ===
.vscode/

# === Node / Tauri ===
node_modules/
src-tauri/

# === System ===
.DS_Store
Thumbs.db
